@import "tailwindcss";

/*@theme{
    --color-primery:#0D4715;
    --color-secondry:#41644A;
    --color-textColor:white;
    --color-textColor2:black;
    --color-PtextColor:#757575;
}*/
@theme{
    --color-primery-light:#5DA87A;
    --color-primery:#2E6B46;
    --color-secondry:#17402A;
    --color-textColor:white;
    --color-textColor2:black;
    --color-PtextColor:#757575;
}
*{
    scrollbar-width: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.font{
  /*font-family: "Bitcount Single", system-ui;*/
  font-family: "Playwrite IN Guides", cursive;
  font-optical-sizing: auto;
  
}

.toggle{
    align-items: start;
    background-color: aqua;
}
.toggle .logo{
    margin-top:1.5px;
}
.toggle ul{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    transition: all .5s ease-in-out;
}
.toggle .toggl{
    margin-top: 12px;
}
/*--------------------------------------Home Section-----------------------------*/


/*------------------------------skill section -----------------------------------*/

.skill-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll 20s linear infinite;
  
}
.glow {
  background: #5DA87A;
  box-shadow:
    0 0 5px #5DA87A, 0 0 25px #5DA87A, 0 0 50px #5DA87A;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.skill-track:hover{
  filter: grayscale();
}



/*---------------------------------------------Skills-------------------*/

.skill-Card:hover{
  border: 2px solid var(--color-primery);
}

/*-----------------------------------------------------About 3d Animation----------*/
.perspective-\[1200px\] {
  perspective: 1200px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
