@import "tailwindcss";

@theme{
    --color-primery:#0D4715;
    --color-secondry:#41644A;
    --color-textColor:white;
    --color-textColor2:black;
    --color-PtextColor:#757575;
}
*{
    scrollbar-width: none;
}

.toggle{
    align-items: start;
    background-color: aqua;
}
.toggle .logo{
    margin-top:1.5px;
}
.toggle ul{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    transition: all .5s ease-in-out;
}
.toggle .toggl{
    margin-top: 12px;
}
/*--------------------------------------Home Section-----------------------------*/


/*------------------------------skill section -----------------------------------*/

.skill-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll 7s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.skill-track:hover{
  filter: grayscale();
}



/*---------------------------------------------Skills-------------------*/

.skill-Card:hover{
  border: 2px solid var(--color-primery);
}